gpuExporter:
  enabled: true
  image:
    tag: "0.0.2"
  port: 8000
  env:
    complex: 0
    collectIntervalSec: 60
  resources:
    limits:
      nvidia.com/gpu: 1
  nodeSelector: 
    
  tolerations: []
  affinity: {}
